/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  margin: 0;
  height: 100%;
}
p {
  text-align: justify;
  font-size: 18px;
}
/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}

.small-img {
  align: center;
  width: 400px;
  height: 400px;
}

#mycolor {
  color: pink;
  background-color: green;
}

#green_color {
  color: green;
  text-align:center;
}
